/* line 16, ../scss/main.scss */
#back #arrow {
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  right: 20px;
  font-size: 30px;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  color: white;
  float: right;
}
/* line 23, ../scss/main.scss */
#back:hover #arrow {
  right: 30px;
}

/* line 28, ../scss/main.scss */
.landing-page {
  height: 100vh;
  width: 100vw;
  background-image: url(http://dailybruin.com/images/2016/02/9.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* line 37, ../scss/main.scss */
.landing-page:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #394D4E, #78B5B1);
  opacity: .65;
}
/* line 47, ../scss/main.scss */
.landing-page #box {
  position: relative;
  width: 500px;
  height: 250px;
  top: 225px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-bottom: 10px solid #4FBDB5;
}
/* line 59, ../scss/main.scss */
.landing-page #box #title {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}
/* line 64, ../scss/main.scss */
.landing-page #box #title h1 {
  font-size: 40px;
  font-weight: bold;
}
/* line 68, ../scss/main.scss */
.landing-page #box #title h2 {
  font-size: 1.4rem;
  letter-spacing: 3px;
  font-family: 'Droid Serif', serif;
}

/* line 77, ../scss/main.scss */
.article {
  padding: 50px 25%;
}
/* line 79, ../scss/main.scss */
.article .quote {
  font-size: 50px;
}
/* line 82, ../scss/main.scss */
.article p {
  font-family: 'Droid Serif', serif;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

/* line 90, ../scss/main.scss */
.thumbs-wrapper {
  overflow: hidden;
}
/* line 96, ../scss/main.scss */
.thumbs-wrapper .thumbs .thumb {
  background-repeat: no-repeat;
  width: 260px;
  height: 160px;
  background-size: 100% !important;
  -webkit-transition: background-size 350ms ease-in-out;
  -moz-transition: background-size 350ms ease-in-out;
  -ms-transition: background-size 350ms ease-in-out;
  -o-transition: background-size 350ms ease-in-out;
  transition: background-size 350ms ease-in-out;
}
/* line 100, ../scss/main.scss */
.thumbs-wrapper .thumbs .thumb .title {
  font-size: 4em;
  position: absolute;
  text-align: right;
  bottom: 0px;
  right: 6px;
  background: none;
}
/* line 112, ../scss/main.scss */
.thumbs-wrapper .thumbs .thumb:hover {
  background-size: 110% !important;
  background-position: center;
}
/* line 113, ../scss/main.scss */
.thumbs-wrapper .thumbs .thumb:hover .thumb-overlay-wrapper .thumb-overlay {
  -webkit-transform: translateX(84%);
  -moz-transform: translateX(84%);
  -ms-transform: translateX(84%);
  -o-transform: translateX(84%);
  transform: translateX(84%);
}
/* line 121, ../scss/main.scss */
.thumbs-wrapper .thumbs .thumb .thumb-overlay-wrapper {
  pointer-events: none;
  position: relative;
  width: 100%;
  height: 160px;
  -webkit-transform: skew(-40deg);
  -moz-transform: skew(-40deg);
  -ms-transform: skew(-40deg);
  -o-transform: skew(-40deg);
  transform: skew(-40deg);
}
/* line 129, ../scss/main.scss */
.thumbs-wrapper .thumbs .thumb .thumb-overlay-wrapper .thumb-overlay {
  padding: 10px;
  background-color: #4FBDB5;
  opacity: 0.6;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(90%);
  -moz-transform: translateX(90%);
  -ms-transform: translateX(90%);
  -o-transform: translateX(90%);
  transform: translateX(90%);
  -webkit-transition: transform 350ms ease-in-out;
  -moz-transition: transform 350ms ease-in-out;
  -ms-transition: transform 350ms ease-in-out;
  -o-transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
}
/* line 146, ../scss/main.scss */
.thumbs-wrapper .thumbs .thumb .thumb-overlay-wrapper:hover {
  cursor: pointer;
}

/* line 156, ../scss/main.scss */
#fullview .full-view h2 {
  width: 20px !important;
}
/* line 159, ../scss/main.scss */
#fullview .full-view .full-view-exit {
  top: 20px;
  right: 20px;
  background-color: #4FBDB5;
  border-radius: 50%;
}
/* line 165, ../scss/main.scss */
#fullview .full-view .full-view-exit i {
  color: white;
  font-size: 3.5em;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: font-size 350ms ease-in-out;
  -moz-transition: font-size 350ms ease-in-out;
  -ms-transition: font-size 350ms ease-in-out;
  -o-transition: font-size 350ms ease-in-out;
  transition: font-size 350ms ease-in-out;
}
/* line 175, ../scss/main.scss */
#fullview .full-view .full-view-exit:hover i {
  font-size: 4em;
}
/* line 182, ../scss/main.scss */
#fullview .full-view .header {
  position: absolute;
  bottom: 25px;
  left: 25px;
  background: #4FBDB5;
}
/* line 189, ../scss/main.scss */
#fullview .full-view .header .full-nav .full-nav-pages {
  width: 75px;
  text-align: center;
}
/* line 193, ../scss/main.scss */
#fullview .full-view .header .full-nav .full-nav-pages .full-nav-current, #fullview .full-view .header .full-nav .full-nav-pages .full-nav-total {
  font-size: 2em;
}
/* line 198, ../scss/main.scss */
#fullview .full-view .header .full-nav .full-nav-prev i, #fullview .full-view .header .full-nav .full-nav-next i {
  font-size: 2em;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 211, ../scss/main.scss */
.reference {
  background: transparent;
}
/* line 213, ../scss/main.scss */
.reference .right_ab {
  margin-right: 10px;
  color: black;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 1080px) {
  /* line 222, ../scss/main.scss */
  .landing-page #box {
    width: 350px;
  }
}
@media (max-width: 1252px) {
  /* line 228, ../scss/main.scss */
  .blockquote {
    display: none;
  }
}
