@mixin vendorize($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}

@mixin hoverActiveFocus($property, $value) {
    &:hover, &:active, &:focus {
        #{$property}: $value;
    }
}

$main-color: #3A61A5;

#back {
	#arrow {
		@include vendorize(transition, all 350ms ease-in-out);
		right: 20px;
		font-size: 30px; position: relative; transform: translateY(-50%); top: 50%; color: white;
		float: right;
	}

	&:hover #arrow {
		right: 30px;
	}

	div {
		position: absolute; top: 25px; left: 25px; width: 75px; height: 50px; background: $main-color; z-index: 100;
	}
}

div.item.block {
	background: #f7f7f7 url(../images/pattern.png) repeat top left;
	opacity: 0.7;
	// background: whitesmoke;
	padding: 20px 10px;
	box-shadow: 1px 1px 1px #ddd;
	@include vendorize(transition, opacity 350ms ease-in-out);

	&:hover {
		opacity: 1;
	}
}

#grid-container {
	padding: 50px 0px;
	background: #fff;

}

.landing-page {
    height: 100vh;
    width: 100vw;
    background-image: url(http://dailybruin.com/images/2016/02/9.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

	&:before {
    	content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,#A7A7A7,#EDEFF1);
		opacity: .65; 
  	}
    #box {
        position:relative;
        width:500px;
        height:250px;
        top:225px;
        margin: 0 auto;
        background-color:rgba(255, 255, 255, 0.8);
        text-align:center;
        // transform: translateY(-50%);
        
		border-bottom: 10px solid $main-color;
        
        #title {
            position: relative;
            transform: translateY(-50%);
            top:50%;
            
            h1 {
                font-size: 40px;
                font-weight: bold;
            }
            h2 {
                font-size: 1.4rem;
                letter-spacing: 3px;
                font-family: 'Droid Serif', serif;
            }
        }
    }
}

.article {
	padding: 50px 25% 25px 25%;
    .quote {
        font-size: 50px;
    }
	p {
		font-family: 'Droid Serif', serif; 
		font-size: 1rem;
		line-height: 1.6;
		margin-bottom: 2rem;
	}
}

.thumbs-wrapper {
	overflow: hidden;

	.thumbs {


		.thumb {
			background-repeat: no-repeat;
			width: 260px; 
			height: 160px; 
			.title {
				font-size: 4em;
				position: absolute;
				text-align: right;
				bottom: 0px;
				right: 6px;
				background: none;
			}

			background-size: 100% !important;
			@include vendorize(transition, background-size 350ms ease-in-out);

			&:hover { 
				.thumb-overlay-wrapper .thumb-overlay {
					@include vendorize(transform, translateX(84%));
				}

				background-size: 106% !important;
				background-position: center;
			}

			.thumb-overlay-wrapper {
				pointer-events: none;
				position: relative;
				width: 100%;
				height: 160px;

				@include vendorize(transform, skew(-40deg));

				.thumb-overlay {
					padding: 10px;

					background-color: $main-color;
					opacity: 0.6;
					z-index: 1;
					position: absolute;


					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					@include vendorize(transform, translateX(90%));
					@include vendorize(transition, transform 350ms ease-in-out);
				}

				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}

#fullview {

	.full-view {
		h2 {
			width: 20px !important;
		}
		.full-view-exit {
			top: 20px;
			right: 20px;
			background-color: $main-color;
			border-radius: 50%;

			i {
				color: white;
				font-size: 3.5em;
				position: relative;
				top: 50%;
				@include vendorize(transform, translateY(-50%));
				@include vendorize(transition, font-size 350ms ease-in-out);
			}

			&:hover {
				i {
					font-size: 4em; 
				}

			}
		}

		.header {
			position: absolute; 
			bottom: 25px; 
			left: 25px;
			background: $main-color;

			.full-nav {
				.full-nav-pages {
					width: 75px;
					text-align: center;

					.full-nav-current, .full-nav-total {
						font-size: 2em;
					}
				}
				.full-nav-prev, .full-nav-next {
					i {
						font-size: 2em;
						position: relative;
						top: 50%;
						@include vendorize(transform, translateY(-50%));
					}

				}
			}
		}
	}
}

.reference {
	background: transparent;
	.right_ab {
		margin-right: 10px;
		color: black;
		font-family: 'Roboto', sans-serif;
	}
}


@media (max-width: 1080px) {
    .landing-page #box {
    	width: 350px;
    }

    #fullview {
    	img {
    		left: 0px;
    	}
    }

    .reference {
    	.right_ab {
    		line-height: 16px;
    		padding: 10px;
    	}
    }
}

@media (max-width: 1255px) {
    .blockquote {
        display: none;
    }
}


