@mixin vendorize($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}

@mixin hoverActiveFocus($property, $value) {
    &:hover, &:active, &:focus {
        #{$property}: $value;
    }
}

.article {
	padding: 50px 25%;
	p {
		font-family: 'Merriweather', sans-serif; 
		font-size: 1.6em;
		margin-bottom: 2em;
	}
}

.thumbs-wrapper {
	overflow: hidden;

	.thumbs {



		.thumb {
			.title {
				font-size: 4em;
				position: absolute;
				text-align: right;
				bottom: 0px;
				right: 6px;
				background: none;
			}

			background-size: 100% !important;
			@include vendorize(transition, background-size 350ms ease-in-out);

			&:hover { 
				.thumb-overlay-wrapper .thumb-overlay {
					@include vendorize(transform, translateX(80%));
				}

				background-size: 110% !important;
				background-position: center;
			}

			.thumb-overlay-wrapper {
				pointer-events: none;
				position: relative;
				width: 100%;
				height: 150px;

				@include vendorize(transform, skew(-40deg));

				.thumb-overlay {
					padding: 10px;

					background-color: #4FBDB5;
					opacity: 0.6;
					z-index: 1;
					position: absolute;


					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					@include vendorize(transform, translateX(90%));
					@include vendorize(transition, transform 350ms ease-in-out);
				}

				// &:hover .thumb-overlay {
				// 	@include vendorize(transform, translateX(80%));
				// }

				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}

#fullview {
	.full-view {
		h2 {
			width: 20px !important;
		}
		.full-view-exit {
			top: 20px;
			right: 20px;
			background-color: black;
			border-radius: 50%;

			i {
				color: white;
				font-size: 3.5em;
				position: relative;
				top: 50%;
				@include vendorize(transform, translateY(-50%));
				@include vendorize(transition, font-size 350ms ease-in-out);
			}

			&:hover {
				i {
					font-size: 4em; 
				}

			}
		}

		.header {
			position: absolute;
			bottom: 25px; 
			left: 25px;

			.full-nav {
				.full-nav-pages {
					width: 75px;
					text-align: center;

					.full-nav-current, .full-nav-total {
						font-size: 2em;
					}
				}
				.full-nav-prev, .full-nav-next {
					i {
						font-size: 2em;
						position: relative;
						top: 50%;
						@include vendorize(transform, translateY(-50%));
					}

				}
			}
		}
	}
}
